
a {
	text-decoration: none;
}

.contents {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 256px);
	gap: 1rem 1rem;
	justify-content: space-between;
	padding: 2rem;
}

.contents>a {
	display: flex;
	flex-direction: column;
}

.contents>a>div {
	display: grid;
	grid-template-columns: repeat(auto-fit, 128px);
	justify-content: space-between;
}

.contents>a>div>img {
	object-fit: contain;
	width: 128px;
	height: 128px;
}
