html, body {
	width: 100dvw;
	height: 100dvh;
	padding: 0;
	margin: 0;
	user-select: none;
	overscroll-behavior: none;
}

a {
	text-decoration: none;
}

.flex-1 {
	flex: 1;
}

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.cursor-none {
	cursor: none;
}

.text-center {
	text-align: center;
}

.main {
	display: flex;
	flex-direction: column;
	margin-top: env(safe-area-inset-top);
	margin-right: env(safe-area-inset-right);
	margin-bottom: env(safe-area-inset-bottom);
	margin-left: env(safe-area-inset-left);
}
